DATABASE_URL=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_GENERATIVE_AI_API_KEY=
ANTHROPIC_API_KEY=

ADMIN_EMAILS=aams1969@gmail.com,ayman@teosegypt.com

TAP_WEBHOOK_SECRET=
TAP_PRO_INVOICE_LINK=
TAP_AGENCY_INVOICE_LINK=

RESEND_API_KEY=
EMAIL_FROM=noreply@teosegypt.com

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
